<% content_for(:title, "Gabi's | Product") %>

<h1>Product: <%= @product.name %></h1>
<h1>Cost: <%= @product.cost %></h1>
<h1>Place of Origin: <%= @product.origin %></h1>
<h1>Reviews:</h1>

<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <%= review.description %> |
        <%= link_to "Edit", edit_product_path(@product) %> |
        <%= link_to "Delete", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                          :method => "delete"}  %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>This product has no reivews.</h3>
<% end %>

<h3><%= link_to "Add a review", new_product_review_path(@product) %></h3>
<h3><%= link_to "Delete Product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></h3>

<h3><%= link_to "Return to products", products_path %></h3>
